#ControlPanel {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    color: #ddd;
    border: 3px solid #282828;
    text-align: center;
    overflow-y: scroll;
}

#ControlPanel .bg {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.85;
    transition: .3s;
    background: #000;
    pointer-events: none
}

#PanelContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: transform .3s;
    will-change: transform;
}
