.radio-button-input[type='radio'] {
    display: none;
}

.radio-button-label {
    display: inline-block;
    user-select: none;
    padding: 8px 16px;
    margin: 3px;
    border: 2px solid #0d6efd;
    border-radius: 4px;
}

.radio-button-input[type='radio']:checked+.radio-button-label {
    border-color: #198754;
}

.radio-button-input[type='radio']:not(:checked):not(:disabled)+.radio-button-label:hover {
    cursor: pointer;
    border-color: #0b5ed7;
    box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}

.radio-button-input[type='radio']:disabled+.radio-button-label {
    color: #777;
    border-color: #191919;
}
