td {
    user-select: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border: 1px solid #aaa;
}

td>div {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    width: 0;
    height: 0;
    border-radius: 7px;
    margin: 0 auto;
    color: #333;
    background-color: #333;
    transition: width 0.5s, height 0.5s, background-color 0.5s;
    user-select: none;
    pointer-events: none;
}

td.Solution>div {
    background-color: #49f;
    width: 40px;
    height: 40px;
    border-radius: 0;
}

td.Visited>div {
    background-color: #324c75;
    width: 40px;
    height: 40px;
    border-radius: 0;
}

td.Wall>div {
    background-color: #aaa;
    width: 36px;
    height: 36px;
}

td.Start>div {
    background-color: #afa;
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

td.Start>div:after {
    content: "Start";
    width: 100%;
}

td.Goal>div {
    background-color: #aaf;
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

td.Goal>div:after {
    content: "Goal";
    width: 100%;
}